.menu{ width:100%; padding:0px; margin:0px 0 50px 0;margin-top:-2.1%;}
.menu ul{ list-style:none; padding:0px; margin:0px; width:100%;}
.menu ul li{ list-style:none; margin:3% 0 0 3%; padding:5.5% 0;padding-bottom:0px; width:29.333333%;height:auto; float:left; display:block; text-align:center;}
.menu ul li a{ color:#FFFFFF; text-decoration:none;  text-align: center;} 
.menu ul li a span{ display:block; text-align:center; font-size:14px; line-height:25px;}
.menu ul li img{ display:inline-block;max-width:60%;}
.green{ background-color:#85af5d;}
.blue{ background-color:#29aae3;}
.darkblue{ background-color:#035792;}
.red{ background-color:#c53238;}
.purple{ background-color:#8b2767;}
.pink{ background-color:#f87c68;}
.orange{ background-color:#f17225;}
.black{ background-color:#272625;}
.gray{ background-color:#6e6e6e;}
.yellow{ background-color:#ffb606;}
.bluegreen{ background-color:#06a78b;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } 
.clearfix { display: inline-block; } 
.clearfix { display: block; } 
.none { display: none; } 
span{color:#ffffff;}